{% extends 'base.html.twig' %}

{% block title %}Styleguide{% endblock %}

{% block body %}

    <h1>Styleguide</h1>
    <p>This is the styleguide</p>

    <h2>Customer form</h2>

    <div>
        <p class="field">
            <label>
                <span class="field__label">Name</span>
                <input type="text" class="input-text input-text--large" value="Jon Smith"/></p>
            </label>
        <p class="field">
            <label>
                <span class="field__label">Address</span>
                <textarea class="input-text input-text--medium" rows="4">
12 Main Street
London</textarea>
            </label>
        </p>
        <p class="field">
            <label>
                <span class="field__label">Postcode</span>
                <input type="text" class="input-text input-text--medium" value="W12 7DS"/>
            </label>
        </p>



    </div>

{% endblock %}
